<body>
    <p>•      Бывший чиновник интендантского управления, отставной коллежский секретарь Лахматов,
        сидел у себя за столом и, выпивая шестнадцатую рюмку, размышлял о братстве, равенстве и свободе.
        Вдруг из-за лампы выглянул на него чёрт… Но не пугайтесь, читательница. Вы знаете, что такое
        чёрт? Это молодой человек приятной наружности, с черной, как сапоги, рожей и с красными
        выразительными глазами. На голове у него, хотя он и не женат, рожки… Прическа а la Капуль.
        Тело покрыто зеленой шерстью и пахнет псиной. Внизу спины болтается хвост, оканчивающийся
        стрелой… Вместо пальцев — когти, вместо ног — лошадиные копыта. Лахматов, увидев чёрта,
        несколько смутился, но потом, вспомнив, что зеленые черти имеют глупое обыкновение являться
        ко всем вообще подвыпившим людям, скоро успокоился.</p>
    <p>•      — С кем я имею честь говорить? — обратился он к непрошенному гостю.</p>
    <p>•      Чёрт сконфузился и потупил глазки.</p>
    <p>•      — Вы не стесняйтесь, — продолжал Лахматов. — Подойдите ближе… Я человек без предрассудков,
        и вы можете говорить со мной искренно… по душе… Кто вы?</p>
    <p>•      Чёрт нерешительно подошел к Лахматову и, подогнув под себя хвост, вежливо поклонился.</p>
    <p>•      — Я чёрт, или дьявол… — отрекомендовался он. — Состою чиновником особых поручений при
        особе его превосходительства директора адской канцелярии г. Сатаны!</p>
    <p>•      — Слышал, слышал… Очень приятно. Садитесь! Не хотите ли водки? Очень рад… А чем вы
        занимаетесь?</p>
    <p>•      Чёрт еще больше сконфузился…</p>
    <p>•      — Собственно говоря, занятий у меня определенных нет… — ответил он, в смущении кашляя
        и сморкаясь в «Ребус». — Прежде, действительно, у нас было занятие… Мы людей искушали… совращали
        их с пути добра на стезю зла… Теперь же это занятие, антр-ну-суади1, и плевка не стоит… Пути
        добра нет уже, не с чего совращать. И к тому же люди стали хитрее нас… Извольте-ка вы искусить
        человека, когда он в университете все науки кончил, огонь, воду и медные трубы прошел! Как я
        могу учить вас украсть рубль, ежели вы уже без моей помощи тысячи цапнули?</p>
    <p>
        — Это так… Но, однако, ведь вы занимаетесь же чем-нибудь?

        — Да… Прежняя должность наша теперь может быть только поминальной, но мы все-таки имеем
        работу… Искушаем классных дам, подталкиваем юнцов стихи писать, заставляем пьяных купцов бить
        зеркала… В политику же, в литературу и в науку мы давно уже не вмешиваемся… Ни рожна мы в этом
        не смыслим… Многие из нас сотрудничают в «Ребусе», есть даже такие, которые бросили ад и
        поступили в люди… Эти отставные черти, поступившие в люди, женились на богатых купчихах и
        отлично теперь живут. Одни из них занимаются адвокатурой, другие издают газеты, вообще очень
        дельные и уважаемые люди!

        — Извините за нескромный вопрос: какое содержание вы получаете?

        — Положение у нас прежнее-с… — ответил чёрт. — Штат нисколько не изменился… По-прежнему
        квартира, освещение и отопление казенные… Жалованья же нам не дают, потому что все мы
        считаемся сверхштатными и потому что чёрт — должность почетная… Вообще,потому что чёрт —
        должность почетная… Вообще, откровенно говоря, плохо живется, хоть по миру иди… Спасибо людям,
        научили нас взятки брать, а то бы давно уже мы переколели… Только и живем доходами… Поставляешь
        грешникам провизию, ну и… хапнешь… Сатана постарел, ездит всё на Цукки смотреть, не до
        отчетности ему теперь…

        Лахматов налил чёрту рюмку водки. Тот выпил и разговорился. Рассказал он все тайны ада, излил
        свою душу, поплакал и так понравился Лахматову, что тот оставил его даже у себя ночевать. Чёрт
        спал в печке и всю ночь бредил. К утру он исчез.
        https://www.culture.ru/books/965/beseda-pyanogo-s-trezvym-chertom/read
    </p>
</body>