<body>
    <p>
        Лето было тихое и ведряное, небо вместо голубого было белое, и озеро, глядевшее в небо, тоже
        казалось белым; только у самого берега в воде качалась тень от ветлы да от избы Корнея Бударки.
        Иногда ветер подымал по песку целое облако пыли, обдавал ею воду и избу Корнея, а потом,
        когда утихал, из песка, чернея, торчали камни на выветренном месте; но от них тени не было.

        Корней Бударка ловил по спуску реки рыбу, а жена его Палага изо дня в день сидела на крылечке
        и смотрела то в ту ‹сторону, где,› чернея, торчали камни на выветренном ме‹сте, то› на
        молочное небо.

        Одинокая ветла под окошком роняла пух, вода еще тише обнимала берег, и не то от водяного зноя,
        не то оттого, что у нее самой во всем теле как бы переливалось молоко, Палага думала о муже,
        думала, как хорошо они проводили время, когда оба, прижавшись друг к другу, ночевали на
        сеновале, какие у него синие глаза, и вообще обо всем, что волновало ей кровь.

        Рыбаки уплывали вниз по реке с Петрова дня вплоть до зимних холодов. Палага считала дни,
        когда Корней должен был вернуться, молила св. Магдалину, чтобы скорей наставали холода, и
        чувствовала, что кровь в ней с каждым днем начинает закипать все больше и больше. Губы
        сделались красными, как калина, груди налились, и когда она, осторожно лаская себя, проводила
        по ним рукой, она чувствовала, что голова ее кружится, ноги трясутся, а щеки так и горят.

        Палага любила Корнея. Любила его здоровую грудь, руки, которыми он сгибал дуги, и особенно
        ей нравились его губы.

        Перебирая прошлое, Палага так сливалась с Корнеем мысленно, что даже чувствовала его горячее
        дыхание, теплую влагу губ, и тело ее начинало ныть еще сильнее, а то, что так было возможно,
        казалось ей преступлением. Она помнила, как она клялась Корнею, что хотя раз оборвешь, то уже
        без узла не натянешь, и все-таки, скрывая это внутри себя, металась из стороны в сторону, как
        связанная, и старалась найти выход.

        Опустив голову на колени, она смотрела, как за высокой горой тонуло солнце. Свечерело уже
        совсем, и по белой воде заскользила на песчаный островок, поросший хворостом, утлая маленькая
        лодочка. Мужик сидел в лодке, вылез и, изгибаясь, стал ползать по песку.

        В Палаге проснулось непонятное для нее решение... Она отвязала причало от челна, руки ее
        дрожали, ноги подкашивались, но все-таки она отправилась на островок. Взмахнув веслами, она
        почти в три удара обогнула островок и, стоя на носу, заметила, что мужик на песке собирает
        ракуши. Она глядела на него и так же, как в первый раз, трепетала вся.

        Когда мужик обернулся и, взглянув на нее своими рыбьими холодными глазами, ехидно прищурился,
        Палага вся похолодела, сжалась, страсть ее, как ей показалось, упала на дно лодки. «Окаянный
        меня смущаить!»— прошептала она. И, перекрестившись, повернула лодку обратно и, не скидавая
        платья с себя, бросилась у берега в воду.

        Был канун Ильина дня. С сарафана капала вода, когда она вошла в избу, а губы казались синими.
        Мокрыми руками она достала с божницы спички, затеплила лампадку и, упав на колени, начала
        молиться. Но ночью,когда она легла в мокрой рубашке на кровать, тело ее снова почувствовало
        тепло, и снова защемило под оголенными коленями. Она встала, сбегала к реке, окунула горячую
        голову в воду и, чтобы забыться, начала вслушиваться, как шумит ветер. «Наваждение, — думала
        она, — молиться надо и пост на себя наложить!» Ветер крутил песок, вода рябилась, холодела,
        и, глядя на реку, Палага шептала:

        «Господи, да скорея бы, скорея бы заморозки!»

        Утром чуть свет она отправилась на деревню к обедне. Деревня была верстах в шести от белой
        воды, дорога вилась меж ржи, и идти было по заре, когда еще было легко и прохладно.

        Ноги ее приустали, она сняла с себя башмаки, повесила на ленточке через плечо, нарочно
        норовила, сверкая белыми икрами, идти по росе, и огонь, мучивший ее тело, утихал. В церкви
        она молилась тоже только об одном, чтобы скорее настали холода, и, глядя на икону прикрытой
        рубищем Марии Египетской, просила у нее ее крепости одолеть свою похоть, но молитвенные
        мысли ее мешались с воспоминаниями о жгучей любви, она ловила себя на этом и, падая на колени,
        стукалась лбом о каменный пол до боли.
        https://www.culture.ru/books/205/u-beloi-vody/read
    </p>
</body>