<body>
    <p>
        Души их во благих водворятся.
        Погребальная песнь

        У нас многие думают, что «художники» — это только живописцы да скульпторы, и то такие,
        которые удостоены этого звания академиею, а других не хотят и почитать за художников. Сазиков
        и Овчинников1 для многих не больше как «серебряники». У других людей не так: Гейне вспоминал
        про портного, который «был художник» и «имел идеи»2, а дамские платья работы Ворт3 и сейчас
        называют «художественными произведениями». Об одном из них недавно писали, будто оно
        «сосредоточивает бездну фантазии в шнипе4».

        В Америке область художественная понимается еще шире: знаменитый американский писатель Брет
        Гарт5 рассказывает, что у них чрезвычайно прославился «художник», который «работал над
        мертвыми». Он придавал лицам почивших различные «утешительные выражения», свидетельствующие
        о более или менее счастливом состоянии их отлетевших душ.

        Было несколько степеней этого искусства, — я помню три: «1) спокойствие, 2) возвышенное
        созерцание и 3) блаженство непосредственного собеседования с богом». Слава художника отвечала
        высокому совершенству его работы, то есть была огромна, но, к сожалению, художник погиб
        жертвою грубой толпы, не уважавшей свободы художественного творчества. Он был убит камнями
        за то, что усвоил «выражение блаженного собеседования с богом» лицу одного умершего фальшивого
        банкира, который обобрал весь город. Осчастливленные наследники плута таким заказом хотели
        выразить свою признательность усопшему родственнику, а художественному исполнителю это стоило
        жизни…

        Был в таком же необычайном художественном роде мастер и у нас на Руси.

        Сноски к главе

        1—Сазиков П.И. (ум. в 1868 г.), Овчинников П.А. (1830-1888) — московские чеканщики по золоту и серебру.

        2—«Художником» Гейне называл сапожника (Полн. собр. соч., т.9. М.-Л., «Academia», 1936, с.84); об «идеях» портного — там же, т.4, с.240.

        3—Ворт Чарльз Фредерик (1825-1895) — известный парижский портной.

        4—Шнип — выступ на поясе женского платья или лифа.

        5—Брет-Гарт Френсис (1839-1902) — знаменитый американский писатель. Речь идет о его рассказе «Разговор в спальном вагоне» (1877).

        https://www.culture.ru/books/283/tupeinyi-khudozhnik/read
    </p>
</body>